<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.persistence.dao.MtimeFieldTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.persistence.model.MtimeFieldT">
        <id column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="film_id" property="filmId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="hall_id" property="hallId" />
        <result column="hall_name" property="hallName" />
        <result column="price" property="price" />
    </resultMap>

    <select id="getHallInfo" parameterType="java.lang.Integer" resultType="com.stylefeng.guns.api.cinema.vo.HallInfoVO">
        SELECT
          f.`UUID` AS hallFieldId,
          f.`hall_name` AS hallName,
          f.`price` AS price,
          hall.`seat_address` AS seatFile,
          o.`seats_ids` AS soldSeats
        FROM
          mtime_hall_dict_t hall,
          mtime_field_t f,
          mtime_order_t o
        WHERE f.`hall_id` = hall.`UUID`
          AND o.`film_id` = f.`film_id`
          AND o.`field_id` = f.`UUID`
          AND o.`cinema_id` = f.`cinema_id`
    </select>

</mapper>
