<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.persistence.dao.MtimeUserTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.api.user.model.MtimeUserT">
        <id column="UUID" property="uuid" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="nick_name" property="nickName" />
        <result column="user_sex" property="userSex" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="user_phone" property="userPhone" />
        <result column="address" property="address" />
        <result column="head_url" property="headUrl" />
        <result column="biography" property="biography" />
        <result column="life_state" property="lifeState" />
        <result column="begin_time" property="beginTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="UserInfoMap" type="com.stylefeng.guns.api.user.model.UserInfo">
        <id column="UUID" property="uuid"/>
        <result column="user_name" property="username"/>
        <result column="nick_name" property="nickname"/>
        <result column="user_sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="email" property="email"/>
        <result column="user_phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="head_url" property="headAddress"/>
        <result column="biography" property="biography"/>
        <result column="life_state" property="lifeState"/>
        <result column="begin_time" property="createTime"/>
        <result column="update_time" property="updatetime"/>
    </resultMap>

    <select id="selectByUsername" resultType="_int">
        select count(*) from mtime_user_t where user_name=#{username}
    </select>

    <select id="findUserByUsernameAndPassWord" resultMap="BaseResultMap">
        select * from mtime_user_t where  user_name=#{username} and user_pwd=#{password}
    </select>

    <select id="selectUserInfoById" resultMap="UserInfoMap">
        select UUID,
        user_name,
        nick_name,
        user_sex,
        birthday,
        email,
        user_phone,
        address,
        head_url,
        biography,
        life_state,
        begin_time,
        update_time
        from mtime_user_t where UUID=#{uuid}
    </select>

    <!-- <update id="updateUser" parameterType="com.stylefeng.guns.rest.modular.user.model.UserInfo">
         update mtime_user_t
         <trim prefix="set" suffixOverrides=",">
         <if test="user.nickname!=null and user.nickname!=''">nick_name = #{user.nickname}</if>
         <if test="user.email!=null and user.email!=''">email = #{user.email}</if>
         <if test="user.phone!=null and user.phone!=''">user_phone = #{user.phone}</if>
         <if test="user.sex!=null and user.sex!=''">user_sex = #{user.sex}</if>
         <if test="user.birthday!=null and user.birthday!=''">birthday = #{user.birthday}</if>
         <if test="user.lifeState!=null and user.lifeState!=''">life_state = #{user.lifeState}</if>
         <if test="user.biography!=null and user.biography!=''">biography = #{user.biography}</if>
         <if test="user.address!=null and user.address!=''">address = #{user.address}</if>
         </trim>
         where UUID=#{user.uuid}
     </update>-->

</mapper>
